
@{
    ViewBag.Title = "New";
}

<h2>New</h2>




<div class="panel panel-default">
    <div class="panel-heading">
        Enter Address
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SaveAddress", "Address"))
        {
            <button type="submit" class="btn btn-primary">Submit</button>
        }

    </div>

</div>





